<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit book</h1>
	<div>
	<form th:object="${editBook}" th:action="@{/saveBook}" action="#" method="post">
		  	<input type="hidden" id="id" th:field="*{id}" />
		  	<div>
		  	<label>Title</label>
			<input type="text" th:field="*{title}" />
			</div>
			<div>
		  	<label>Author</label>
		  	<input type="text" th:field="*{author}" />
			</div>
			<div>
		  	<label>Isbn</label>
			<input type="text" th:field="*{isbn}" />
			</div>
			<div>
		  	<label>Year</label>
			<input type="text" th:field="*{bookYear}" />
			</div>
			<div>		
		  	<label>Price</label>
			<input type="number" th:field="*{price}" />
			</div>
			<br>
			
			<input type="submit" value="Save"></input>
		</form>
	
	</div>

 	
</body>
</html>